@font-face {
  font-family: "iconfont"; /* Project id 3372293 */
  src: url('iconfont.woff2?t=1651541735767') format('woff2'),
       url('iconfont.woff?t=1651541735767') format('woff'),
       url('iconfont.ttf?t=1651541735767') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-wangzhandaohang:before {
  content: "\e626";
}

.icon-yepian:before {
  content: "\e615";
}

