/* 公共样式 */
*{
    /* 因为浏览器自带的8px的边距，清除页面默认样式 */
    margin: 0%;
    padding: 0%;
}
/* 主内容区域：1230px */
/* 导航条 */
/* #nav{
    width: 1190px;
    height: 111px;
    display: flex;
    text-align: center;
}
#nav>img{
    width: 87px;
    height: 53px;
    text-align: center;
}
#nav>.shuru{
    width:540px;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    border-radius: 20px;
    padding-left: 16px;
    border: 1px solid #fe0137;
    text-align: center;
}
#nav>.sousuo{
} */
body{
    font-family: tahoma, arial;
    /* 字体类型直接加到body里 */
}
#nav{
    height: 26px;
    font-size: 12px;
    color: #999;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
}
.wrapper{
    width: 1230px;
    height: 100%;
    /* 块级元素水平居中 */
    margin: 0 auto;
}
.nav_slogo{
    float: left;
    /* 把三个块左浮动 */
    height: 100%;
    line-height: 26px;
    /* 文本垂直居中 行高等于元素高度 */
}
a{
    text-decoration: none;
    /* 去下划线 */
}
.nav_slogo>a{
    color: #999;
    padding: 0 10px;
}
.nav_slogo>a:hover{
    /* 移到一定距离，仍然变色，因此给内边距＋变色 */
    color: #ff0036;
}
.nav_slogo>span{
    margin-right: 10px;
}
#nav_menu{
    float: right;
    height: 100%;
}
#nav_menu>.nav-menu-list{
    list-style: none;
    float: left;
    height: 100%;
    padding: 0 10px;
    position: relative;
}
#nav_menu>.nav-menu-list>a{
    color: #999;
    /* 把a标签设置为行级块元素，设置高 继承父元素高度 */
    display: inline-block;
    height: 100%;
    line-height: 26px;
}
#nav_menu>.nav-menu-list>a:hover{
    color: #ff0036;
    text-decoration: underline;
}
/* 让鼠标划入滑出时，窗口不再抖动 */
#nav_menu>.nav-menu-list-link{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
#nav_menu>.nav-menu-list-link:hover{
    background-color: #fff;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}
#nav_menu>.nav-menu-list>a>.iconfont{
    color: #ff0036;
    font-size: 12px;
}
#nav_menu .nav-menu-list-inner{
    width: 76px;
    list-style: none;
    text-decoration: none;
    background-color: #fff;
    padding: 8px 10px;
    border: 1px solid #f2f2f2;
    border-top: none;
    position: absolute;
    top: 26px;
    left: -2px;
    display: none;
    z-index: 1;
}
#nav_menu .nav-menu-list-inner a{
    display: inline-block;
    line-height: 26px;
    color: #999;
}
#nav_menu .nav-menu-list-inner a:hover{
    color: #ff0036;
    text-decoration: underline;
}
/* 鼠标划入滑出 显示隐藏 */
#nav_menu .nav-menu-list-link:hover .nav-menu-list-inner{
    display: block;
}
#nav_menu .nav-menu-list-inner:hover .nav-menu-list-inner{
    display: block;
}

#nav_menu>.nav-menu-list #san{
    display: block;
    width: 0;
    height: 0;
    float: right;
    /* border: 5px solid #999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent; */
    border: 3px solid transparent;
    border-top-color: #999;
    margin-top: 10px;
    margin-left: 2px;
}
#nav_menu>.nav-menu-list:hover #san{
    /* 旋转 过渡效果 */
    transform: rotate(180deg);
    transition: all .5s ease;
}

.nav-menu-list-shu{
    line-height: 26px;
}
#nav_menu>.nav-menu-list-lin{
    position: relative;
}
#nav-menu-list-phone{
    border: 1px solid #fff;
    position: absolute;
    top: 27px;
    left: -40%;
    z-index: 1;
}
#nav-menu-list-phone>#nav-menu-list-phone-er{
    width: 175px;
    height: 175px;
    background: url('../imgs/er.png') 0 0 no-repeat;
    /* 不想上面的导航条被撑开，需要使用定位 */
    display: none;
}
#nav_menu .nav-menu-list:hover #nav-menu-list-phone-er{
    display: block;
}
#nav_menu .nav-menu-list #nav-menu-list-arrow{
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: 15px;
    left: 50%;
    display: none;
}
#nav_menu .nav-menu-list:hover #nav-menu-list-arrow{
    display: block;
}
#nav-menu-list-phone>img{
    display: none;
}
#nav_menu .nav-menu-list:hover>#nav-menu-list-phone>img{
    display: block;
    /* text-align: center; */
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}