*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 2em;
}
body{
    font-size: 2rem;
}
div{
    font-size: 50%;
}
span{
    font-size: 1rem;
}
/* 32px */

#container{
    max-width: 980px;
    /* 水平居中 */
    margin: 0 auto;
}
header,nav,footer{
    width: 100%;
    height: 80px;
    font-size: 20px;
    /* 文字水平垂直居中 */
    line-height: 80px;
    text-align: center;
    background-color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
}
.wrapper{
    width: 100%;
}
.wrapper>img{
    width: 100%;
    margin-bottom: 5px;
}
/* css3 */
.wrapper>img:nth-child(1){
    display: block;
}
.wrapper>img:nth-child(2),
.wrapper>img:nth-child(3){
    display: none;
}
.content{
    width: 100%;
    /* 弹性盒模型 */
    display: flex;
    justify-content: space-between;
    text-align: center;
}
article{
    width: 630px;
    height: 400px;
    background-color: pink;
    position:relative;

}
aside{
    width: 330px;
    height: 400px;
    background-color: powderblue;
    position:relative;
}
.content p{
    /* 应用定位水平垂直居中 */
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    /* p标签没有宽和高，应用css3中的transform中的translate属性 */
    transform: translate(-50%,-50%);
}
/* 媒体查询设置临界条件 */
@media screen and (min-width:480px) and (max-width: 960px){
    .wrapper>img:nth-child(2){
        display: block;
    }
    .wrapper>img:nth-child(1),
    .wrapper>img:nth-child(3){
        display: none;
    }
    article{
        width: 60%;
    }
    aside{
        width: 30%;
    }
}
@media screen and(max-width:480px){
    .wrapper>img:nth-child(3){
        display: block;
    }
    .wrapper>img:nth-child(2),
    .wrapper>img:nth-child(1){
        display: none;
    }
    .content{
        flex-direction: column;
    }
    article{
        width: 100%;
    }
    aside{
        width: 100%;
    }
}

/* 
    元素水平垂直居中：
    子元素：
    position：absolutely  top  left
    transform: translate(-50%,-50%)（未知元素宽高x,y,z）或者 margin-top=-1/2height margin-left=-1/2width（已知元素宽高）
    父元素：
    position：relative

    margin：0，auto；
 */
